#walrus-showing {
  display: none;
}

#answer-text-life {
  display: none;
}

#answer-text-speed {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

img {
  width: 500px;  
}